body {
  min-width: 768px; /*Smallest body maintains 16:9 ratio, most common screen ratio.*/
  min-height: 432px;
}

#simulation-row-1 {
  height: 100px;
}

#simulation-row-2 {
  min-height: calc(432px - 100px);
}

/*Due to body min-width, smallest possible width of canvas is ((768*(10/12)) - 8(aka0.5Rem)) * (9/12) = 474px */
/*The smallest possible height is 266.63px as that's 9/16th of 474px.*/
canvas#simulation {
  width: 100%;
  aspect-ratio: 16/9;
  vertical-align: bottom;
}